.Volume {
  display: flex;
  width: 100vw;
  color: white;
  background-color: #282c34;
}

.Volume .ReactVirtualized__Grid:focus,
.Volume .ReactVirtualized__List:focus {
  outline: none;
}

.Volume .TOCListWrapper {
  margin-top: 50px;
  max-width: 100vw;
}

.Volume > .TOC {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
}

.Volume .TOCRow {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
}

.Volume .TOCRow:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.Volume .TOCRow > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .Volume > .TOC {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #282c34;
  }
}
