.Volume {
  display: flex;
  width: 100vw;
  color: white;
  background-color: #282c34;
}

.Volume > .TOC {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Volume .TOCRow {
  height: 50px;
  width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
}

.Volume .TOCRow:hover {
  color: black;
  background-color: #9e9e9e;
  cursor: pointer;
}

.Volume .TOCRow > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
