.Project {
  color: white;
  padding: 1em;
  box-sizing: border-box;
  height: 150vh;
  padding: 1em;
}

.Project .flex {
  display: flex;
  flex-direction: row;
}

.Project a {
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
}
.Project a:hover,
.Project .hotlink:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.Project ul {
  list-style: none;
  display: inline-block;
}

.Project ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.Project footer {
  margin-top: 1em;
}

/* legacy cruft #TODO: tidy this shit! */

blockquote {
  border: none;
  margin: 0;
  padding-left: 2rem;
}

.description {
  word-break: break-word;
}

.description p {
  margin: 1rem 0;
}

.material-placeholder {
  margin-top: 1em;
  min-height: 190px;
}

.project-load:hover {
  background: black;
  color: white;
}

.label {
  color: #9e9e9e;
}

.select2-container {
  width: 100% !important;
}

.project-pub {
  margin-left: 33%;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 4;
}

.sticky-nav-2 {
  top: 48px;
  z-index: 3;
}

.sticky-nav-3 {
  top: 100px;
  z-index: 2;
}

#scrollspy-nav .active {
  color: black;
  font-weight: 600;
}

.section.scrollspy {
  min-height: 100vh;
  margin-bottom: 75vh;
}

.nav-search-row {
  margin-top: 0.5rem;
  margin-bottom: 0;
  max-width: 280px;
}

.nav-search-row input[type='search'] {
  height: 3.5rem;
}

#project_search .input-field {
  display: flex;
  align-items: center;
}

.all-projects {
  display: flex;
  justify-content: space-between;
}
.all-projects-chip {
  margin-top: 1.5em;
}

@media (max-width: 600px) {
  .Project .flex {
    flex-direction: column;
  }

  .Project header {
    margin-bottom: 1em;
  }
}

.Meta {
  color: white;
  overflow-wrap: break-word;
  margin-left: 1em;
  box-sizing: border-box;
  width: 25vw;
}

.Meta a {
  color: gray;
}

.Meta a:hover {
  color: black;
  background-color: white;
}

.Meta p {
  font-size: 0.7em;
}

.Meta .title {
  font-size: 19px;
  text-transform: uppercase;
}

.Meta .contributor {
  font-size: 17px;
  font-weight: 100;
  margin: 0.5em 0;
  text-transform: uppercase;
}

.Meta .home {
  margin: 1em 0;
  font-size: 1em;
}

.Meta .place {
  display: inline-block;
  width: 100%;
  margin: 0.5em 0;
}

.Meta .contact {
  font-size: 14px;
}

.Meta .links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.Meta .links span {
  width: 100%;
}

.Meta a.link {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.Meta .project-img.active {
  max-width: none;
  max-height: none;
}
.Meta .project-img {
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.Meta .photo-credit {
  font-size: 12px;
  position: absolute;
  text-align: right;
  transform: rotate(-90deg) translate(6px, -100%);
  transform-origin: left top;
  max-width: 20vw;
}

.Meta .project-collaborators {
  margin-top: 0;
  font-size: 0.9em;
}

.Meta .project-collaborators .hotlink {
  width: 100%;
}

.project-name-with-collaborators {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .Meta {
    margin-left: 0.5em;
    width: 100%;
  }

  .Meta p {
    font-size: 0.9em;
  }

  .right-panel {
    padding-left: 0.5rem !important;
    padding-right: 1em !important;
  }

  .right-panel .title,
  .right-panel .contributor {
    display: none;
  }

  .Meta .contributor {
    font-size: 1.33rem;
    font-weight: 100;
    margin: 0.25em 0;
  }
  .Meta .title {
    font-size: 1.66rem;
    margin: 0.75em 0;
  }

  .project-img {
    max-height: none;
  }
  .photo-credit {
    max-width: none;
  }
}

@media (min-width: 1281px) {
  .Meta p,
  .photo-credit {
    font-size: 1em;
  }
  .description code,
  .description kbd,
  .description pre,
  .description samp {
    font-size: 22px;
  }
  .right-panel .title {
    font-size: 30px;
  }

  .right-panel .contributor {
    font-size: 28px;
  }
  .Meta .contributor {
    font-size: 22px;
  }

  .Meta .title {
    font-size: 24px;
  }
}

.Description {
  color: white;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.Description .title {
  font-size: 1.66rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.Description .contributor {
  font-size: 1.33rem;
  font-weight: 100;
  margin: 0.5em 0;
  text-transform: uppercase;
}

.Description .content {
  max-height: 100vh;
  overflow: scroll;
}

@media (max-width: 600px) {
  .Description {
    padding-left: 0;
    padding-right: 0;
  }

  .Description .title,
  .Description .contributor {
    display: none;
  }

  .Description .content {
    width: 100vw;
  }
}

@media (min-width: 1281px) {
  .content code,
  .content kbd,
  .content pre,
  .content samp {
    font-size: 22px;
  }
  .Description .title {
    font-size: 30px;
  }

  .Description .contributor {
    font-size: 28px;
  }
}

.Footer {
  color: white;
  display: flex;
  justify-content: flex-end;
  min-height: 50px;
}
.Footer > div {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Footer .chip {
  background-color: gray;
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 666px;
  text-transform: uppercase;
  font-size: 14px;
}

.Footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.Footer ul > li {
  min-height: 35px;
  margin-left: 3px;
  margin-right: 3px;
}

.Footer ul > li > a {
  min-height: 35px;
  margin: 0;
}

@media (max-width: 600px) {
  .Footer > div {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .Footer .chip {
    font-size: 12px;
  }
}

.Volume {
  display: flex;
  width: 100vw;
  color: white;
  background-color: #282c34;
}

.Volume .ReactVirtualized__Grid:focus,
.Volume .ReactVirtualized__List:focus {
  outline: none;
}

.Volume .TOCListWrapper {
  margin-top: 50px;
  max-width: 100vw;
}

.Volume > .TOC {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
}

.Volume .TOCRow {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
}

.Volume .TOCRow:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.Volume .TOCRow > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .Volume > .TOC {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #282c34;
  }
}

.Search {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.Search > input {
  height: 30px;
  width: 100%;
  min-width: 185px;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom-left-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}
.Search > input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.Search > .results-count {
  height: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #282c34;
}

.Search > .results-count > button {
  height: 17px;
  font-weight: bold;
  margin-left: 0.5em;
}


/*# sourceMappingURL=main.bf84fb1f.chunk.css.map*/